<div class="columns">
    <div class="column is-one-fifth">
        <figure class="image is-68x68 text-center">
            <img src="{{ asset('build/images/neuron.png') }}">
        </figure>
    </div>
    <div class="column">
        <span class="title"> Neurolocalizer</span><br>
        <span class="subtitle colored is-5">Outil d'aide à la neurolocalisation pour animaux de compagnie.</span>
    </div>
</div>
<hr>
<h1 class="title is-2 title is-2 has-text-centered"> </h1>
<h2 class="subtitle colored is-4"></h2>
<p class="has-text-grey">
    Bienvenue sur Neurolocalizer, la version bêta d'un outil d'aide à la neurolocalisation.
</p>
<br>
<p class="has-text-grey">
    N'hésitez pas à utiliser cet outil et nous <b><a href="{{ path('app_contact_request_new') }}"> envoyer vos remarques ici </a></b> afin d'améliorer les prochaines versions. Nous vous remercions par avance de votre participation.

</p>